<div>
  <a id="initpos"></a>
  <section *ngIf="role!='Dravet'">
    <div class="modal-header">
      <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
    </div>
    <div class="modal-body">
      <h5>{{'policy.CONTENT' | translate }}</h5>
      <ol>
        <li><a class="primary" (click)="goTo('step1')">{{'prereg.t1' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step2')">{{'prereg.t2' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step3')">{{'prereg.t3' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step4')">{{'prereg.t4' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step5')">{{'policy.step1' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step6')">{{'prereg.t6' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step7')">{{'policy.step2' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step8')">{{'policy.step3' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step9')">{{'policy.step4' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step10')">{{'policy.step5' | translate }}</a></li>
      </ol>
      <a id="step1"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">1. {{'prereg.t1' | translate }}</h6>
        <p>
          {{'prereg.a1' | translate }}
        </p>
      </div>
      <a id="step2"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">2. {{'prereg.t2' | translate }}</h6>
        <p>
          {{'prereg.a2.1' | translate }}
        </p>
      </div>
      <a id="step3"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">3. {{'prereg.t3' | translate }}</h6>
        <p>
          {{'prereg.a3' | translate }}
        </p>
      </div>
      <a id="step4"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">4. {{'prereg.t4' | translate }}</h6>
        <p>
          {{'prereg.a4' | translate }}
        </p>
      </div>
      <a id="step5"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">5. {{'policy.step1' | translate }}</h6>
        <p>
          {{'policy.step1-1' | translate }}:
        </p>
        <ul>
          <li>NIF: G-87894119</li>
          <li>{{'policy.step1-2' | translate }}: Calle Santa Fe 1, 2 E. 28224 – Pozuelo de Alarcón (Madrid)</li>
          <li>{{'generics.Email' | translate }}: support@foundation29.org</li>
        </ul>
      </div>
      <a id="step6"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">6. {{'prereg.t6' | translate }}</h6>
        <p>
          {{'prereg.a6' | translate }}
        </p>
      </div>
      <a id="step7"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">7. {{'policy.step2' | translate }}</h6>
        <p>
          {{'policy.step2-1' | translate }}:
        </p>
        <ul>
          <li>
            {{'policy.step2-2' | translate }}
          </li>
          <li>
            {{'policy.step2-3' | translate }}
          </li>
        </ul>
      </div>
      <a id="step8"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">8. {{'policy.step3' | translate }}</h6>
        <p>
          {{'policy.step3-1' | translate }}
        </p>
      </div>
      <a id="step9"></a>
       <div>
         <h6 class="pt-2 dark text-bold-600">9. {{'policy.step4' | translate }}</h6>
         {{'policy.step4-1' | translate }}:
         <ul>
            <li>
              {{'policy.step4-2' | translate }}
            </li>
            <li>
              {{'policy.step4-3' | translate }}
            </li>
            <li>
              {{'policy.step4-4' | translate }}
            </li>
            <li>
              {{'policy.step4-5' | translate }}
            </li>
            <li>
              {{'policy.step4-6' | translate }}
            </li>
          </ul>
  
          <p>{{'policy.step4-7' | translate }}</p>
       </div>
       <a id="step10"></a>
       <div>
         <h6 class="pt-2 dark text-bold-600">10. {{'policy.step5' | translate }}</h6>
         <p>
           {{'policy.step5-1' | translate }}
         </p>
       </div>
      <hr>
      <p>
        {{'policy.other1' | translate }}
      </p>
      <p>
        {{'policy.other2' | translate }}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised"
        (click)="activeModal.close('Close click')">{{'generics.Close' | translate }}</button>
    </div>
  </section>
  <section *ngIf="role=='Dravet'">
    <div class="modal-header">
      <h4 class="modal-title">{{'termsDravet.title' | translate }}</h4>
    </div>
    <div class="modal-body">
      <h5>{{'policy.CONTENT' | translate }}</h5>
      <ol>
        <li><a class="primary" (click)="goTo('step1')">{{'termsDravet.t1' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step2')">{{'termsDravet.t2' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step3')">{{'termsDravet.t3' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step4')">{{'termsDravet.t4' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step5')">{{'termsDravet.t5' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step6')">{{'termsDravet.t6' | translate }}</a></li>
        <li><a class="primary" (click)="goTo('step7')">{{'termsDravet.t7' | translate }}</a></li>
      </ol>
      <a id="step1"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">1. {{'termsDravet.t1' | translate }}</h6>
        <p>
          {{'termsDravet.a1.1' | translate }}
        </p>
        <ul>
          <li>{{'termsDravet.a1.2' | translate }}</li>
          <li>{{'termsDravet.a1.3' | translate }}</li>
        </ul>
      </div>
      <a id="step2"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">2. {{'termsDravet.t2' | translate }}</h6>
        <p>
          {{'termsDravet.a2' | translate }}
        </p>
      </div>
      <a id="step3"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">3. {{'termsDravet.t3' | translate }}</h6>
        <p>
          {{'termsDravet.a3' | translate }}
        </p>
      </div>
      <a id="step4"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">4. {{'termsDravet.t4' | translate }}</h6>
        <p>
          {{'termsDravet.a4.1' | translate }}
        </p>
        <ul>
          <li>{{'termsDravet.a4.2' | translate }}</li>
          <li>{{'termsDravet.a4.3' | translate }}</li>
        </ul>
      </div>
      <a id="step5"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">5. {{'termsDravet.t5' | translate }}</h6>
        <p>
          {{'termsDravet.a5' | translate }}
        </p>
      </div>
      <a id="step6"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">6. {{'termsDravet.t6' | translate }}</h6>
        <p>
          {{'termsDravet.a6.1' | translate }}
        </p>
        <ul>
          <li>{{'termsDravet.a6.2' | translate }}</li>
          <li>{{'termsDravet.a6.3' | translate }}</li>
          <li>{{'termsDravet.a6.4' | translate }}</li>
        </ul>
        <p>
          {{'termsDravet.a6.5' | translate }}
        </p>
      </div>
      <a id="step7"></a>
      <div>
        <h6 class="pt-2 dark text-bold-600">7. {{'termsDravet.t7' | translate }}</h6>
        <p>
          {{'termsDravet.a7' | translate }}
        </p>
      </div>
      <hr>
      <p>
        {{'termsDravet.footer1' | translate }}
      </p>
      <p>
        {{'termsDravet.footer2' | translate }}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised"
        (click)="activeModal.close('Close click')">{{'generics.Close' | translate }}</button>
    </div>
  </section>
</div>