<div *ngIf="!hasData && loading" class="center-elements mt-4">
  <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <span class="d-block mb-2">Before proceeding, it is necessary to complete your organization's profile. This information is crucial for ensuring effective collaboration and enabling access to disease selection functionalities.</span>
    <button type="button" class="btn btn-primary" routerLink="/profile">
      <i class="fa fa-user font-medium-3 mr-1"></i>
        <span>Complete profile</span>
    </button>
  </div>
  
</div>
<div *ngIf="!loadedItems || !loading">
    <div class="mt-4 mx-auto center-elements" style="max-width: 40rem !important;">
        <em class="fa fa-spinner fa-spin fa-3x fa-fw primary"></em>
    </div>
</div>
<div *ngIf="loadedItems && haveInfo && hasData" class="row pb-3">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
      <section id="basic-form-layouts">
        <div class="row">
            <div class="col-sm-12">
                <div class="content-header primary">Home</div>
            </div>
        </div>
      </section>
        <div class="card border round">
            <div class="card-header">
                <button class="ml-2 btn btn-danger btn-sm float-right" (click)="deleteDisease()">Delete condition</button>
                <h4 class="card-title">Refines the list of key elements of {{disease.name}}</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <p>Add, reorder, or remove key characteristics for the disease. The higher up the list, the more
                        relevant it is.</p>
                    <p>Use the drag-and-drop function on the ☰ icon to reorder and customise these lists according to
                        your criteria and experience, contributing to a richer and more diverse knowledge.</p>
                    <div class="row">
                        <div class="col-sm-12 mb-2 mb-sm-0 container">
                          <div class="add-item-form mb-3 row">
                            <div class="col-12 col-sm-9">
                                <input type="text" class="form-control" [(ngModel)]="newItemName"
                                       (keyup.enter)="addNewItem()" placeholder="Name of the new element">
                            </div>
                            <div class="col-12 col-sm-3 col-add">
                                <button class="btn btn-primary" (click)="addNewItem()">Add</button>
                            </div>
                        </div>
                            <div cdkDropList class="list-group" (cdkDropListDropped)="drop($event)">
                              <div *ngFor="let item of disease.items; let i = index" cdkDrag class="list-group-item" (cdkDragStarted)="dragStart($event)">
                                <div *cdkDragPlaceholder class="custom-placeholder"></div>
                                <div class="handle row align-items-center">
                                  <div class="col-sm-9">
                                    <span class="mr-1">☰</span>
                                    {{ i + 1 }}. 
                                    <span *ngIf="!item.isEditing" class="item-content text-wrap">{{ item.name }}</span>
                                    <input *ngIf="item.isEditing" (keyup.enter)="saveEdit(item)" type="text" class="form-control" [(ngModel)]="item.editedName" />
                                </div>
                                <div class="col-buttons col-sm-3 text-right">
                                    <button class="btn btn-secondary btn-sm mr-1" (click)="startEdit(item)" *ngIf="!item.isEditing"><em class="fa fa-edit"></em></button>
                                    <button class="btn btn-danger btn-sm" (click)="removeItem(item)" *ngIf="!item.isEditing"><em class="fa fa-trash"></em></button>
                                    <button class="btn btn-secondary btn-sm mr-1" (click)="cancelEdit(item)" *ngIf="item.isEditing"><em class="fa fa-times"></em></button>
                                    <button class="btn btn-primary btn-sm" (click)="saveEdit(item)" *ngIf="item.isEditing"><em class="fa fa-save"></em></button>
                                </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-0 pb-4 center-elements">
                    <button class="btn btn-primary" (click)="updateItems()"><i
                        class="fa fa-save"></i> <span class="ml-1">{{'generics.Save changes' | translate }}</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loadedItems && !haveInfo && hasData">
    <div class="offset-lg-3 col-lg-6">
        <div class="card border round">
            <div class="card-body">
                <div class=" no-padding">
                    <div class="position-relative" *ngIf="!gettingItems">
                      <h4 class="mb-3">Search and select the condition you want to contribute for</h4>
                      <i class="fa fa-search primary fa-1_7x align-middle" (click)="onKey($event)"></i>
                      <input type="text" #inputDisease id="searchDiseaseField"
                        class="ml-1 form-control data-hj-allow fielddisease" name="searchDiseaseField"
                        style="width: 84% !important;display: inline !important;border-radius: 25px;height: 45px;border: 3px solid #1f6b91 !important;"
                        [(ngModel)]="searchDiseaseField" (keyup)="onKey($event)" (paste)="onKey($event)"
                        placeholder="{{'dashboardpatient.Search condition' | translate }}"
                        (focusout)="focusOutFunctionDiseases()">
                      <span *ngIf="searchDiseaseField.length>0" class="pointer" (click)="clearsearchDiseaseField();"
                        style="position: relative;left: -44px;"><i class="fa fa-times ml-1"
                          style="color: #70757a;"></i></span>
                    </div>
                    <div>
                      <div class="center-elements mt-2" *ngIf="callListOfDiseases || gettingItems">
                        <em class="mt-2 fa fa-spinner fa-spin fa-3x fa-fw secondary"></em>
                        <p>{{'generics.Please wait' | translate }}</p>
                      </div>
                      <div class="form-group mt-2" *ngIf="!callListOfDiseases && !gettingItems">
                        <span *ngIf="listOfFilteredDiseases.length>0">
                          <div class="table-cont">
                            <table class="table mb-0 border" aria-labelledby="rare disease"
                              style="background-color: #ffffff !important;">
                              <tbody class="tableList">
                                <tr *ngFor="let disease of listOfFilteredDiseases ; let i = index" class="d-flex">
                                  <td class="col-md-12 dropdown-item" id="{{disease.id}}"
                                    (click)="showMoreInfoDiagnosePopup(i);" style="cursor: pointer;"
                                    title="{{'generics.More information' | translate }} ({{disease.id}})">
                                    <span>{{disease.name}}</span>
                                    <!--<span *ngIf="disease.source!='synonyms'">{{disease.name}}</span>
                                        <span *ngIf="disease.source=='synonyms'"> {{disease.itemCompared}} ({{'generics.Synonyms' | translate}}: {{disease.name}})</span>-->
                                    <span *ngIf="disease.synonyms">
                                      <span *ngIf="disease.synonyms.length>0">
                                        <span *ngFor="let synonym of disease.synonyms | myfilter:searchDiseaseField">
                                          <span class="d-block font-small-3" style="font-weight: 200;"> - {{synonym}}</span>
                                        </span>
                                      </span>
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </span>
                        <span *ngIf="nothingFoundDisease">
                          <span *ngIf="(searchDiseaseField).trim().length>3">
                            <span class="d-block">{{'dashboardpatient.Nothing found. Try again.' | translate }}</span>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>