<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light header-navbar navbar-sticky" style="margin-left: 0px;width: 100% !important;background-color: #fff;box-shadow: 0 6px 0 0 rgba(0,0,0,.01),0 15px 32px 0 rgba(0,0,0,.06);min-height: 4.3rem;">
    <div class="container-fluid">
      <div>
        <span class="navbar-header-logos">
          <img *ngIf="isHomePage" class="logo-img-big" src='assets/img/logo-lg-white.png' (click)="trackEventsService.trackEventsService.lauchEvent('Logo');"/>
          <img *ngIf="!isHomePage" class="logo-img-big pointer" src='assets/img/logo-lg-white.png' routerLink="/." (click)="trackEventsService.lauchEvent('Logo');" style="cursor: pointer;"/>
        </span>
      </div>
        <div class="navbar-container pl-0">
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav m-r-0">
                <li class="nav-item mr-2" *ngIf="!isHomePage">
                  <a class="btn btn-dark mb-0 btn-navbar" [routerLink]="['/.']" (click)="trackEventsService.lauchEvent('Dashboard btn 1')">{{'menu.Dashboard' | translate }}</a>
                </li>
                <li class="nav-item mr-2"  *ngIf="!isLoginPage">
                    <a class="btn btn-dark mb-0 btn-navbar" [routerLink]="['/login']" (click)="trackEventsService.lauchEvent('Login btn 1')">{{'login.Login' | translate }}</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar (Header) Ends -->
