<section class="white" style="padding-bottom: 70px !important;padding-top: 70px !important;background-color: #353540;">
  <div class="col-12 d-flex justify-content-center">
    <div class="card-body" style="max-width: 1200px;">
      <div class="row m-0">
        <div class="offset-md-2 col-md-8 justify-content-center align-items-center text-center" style="padding-top: 1.5rem;padding-right: 1.5rem;padding-left: 1.5rem;">
          <h1 class="white card-title text-bold-500">
            Introduction
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>In the complex landscape of rare diseases, understanding patient experiences and outcomes is essential.</p>
            <p>Central to this understanding is Patient Experience Data (PED), which encompasses the insights, outcomes, and treatment preferences shared by patients. This data is crucial for improving healthcare services, particularly in developing treatments for rare diseases (known as orphan medicines).</p>
            <p>Despite its importance, European healthcare organizations face challenges in effectively collecting, processing, and utilizing PED. This includes a lack of standardized methodologies, insufficient data collection culture within patient organizations, and the need for effective strategies to initiate data capture.</p>
          </span>

          <h1 class="white mt-5 card-title text-bold-500">
            What does Patient Experience Data (PED) involve?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p><strong>PED</strong> refers to the information and insights derived directly from patients and their caregivers about their experiences with a disease or condition and its treatment. It encompasses a wide range of data types, including:</p>
            <ul>
              <li><strong>Symptoms</strong>	experienced by patients and how these symptoms affect their day-to-day lives.</li>
              <li><strong>Quality of life,</strong> including the emotional, social, and physical impact of the disease</li>
              <li><strong>Treatment preferences and outcomes,</strong> reflecting what is important to patients in terms of care, treatment options, and the implications of these treatments on their lives.</li>
              <li><strong>Disease progression and management,</strong> detailing how patients navigate their conditions over time, including the effectiveness and side effects of treatments.</li>
            </ul>
            <p>PED is all-encompassing and seeks to gather holistic insights into the patient's journey, highlighting what matters most to those affected by rare diseases, where individual experiences can vary widely and may not be well-understood.</p>
          </span>
          
          <h1 class="white mt-5 card-title text-bold-500">
            What is this project about?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>Collaborare emerges from the imperative need to improve patient care by strategically capturing and utilizing PED. The project addresses the challenges faced in gathering this data for orphan medicines. </p>
            <p>By leveraging PED, Collaborare aligns with the goals of the European Medicines Agency (EMA) to incorporate patient insights into the development and evaluation of medicines, ensuring that treatments truly meet patient needs.</p>
          </span>

          <h1 class="white mt-5 card-title text-bold-500">
            What is Collaborare?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>Collaborare offers an innovative solution to these challenges by developing a patient-validated methodology that utilizes artificial intelligence (AI) to streamline the initial collection of PED.</p>
            <p>By identifying and validating PED that contribute significantly to patient care, Collaborare seeks to improve healthcare decision-making and support regulatory processes for rare diseases’ treatments.</p>
          </span>
          
          <h1 class="white mt-5 card-title text-bold-500">
            How does it work?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>The process is straightforward and user-friendly:</p>
            <ul>
              <li>Generative AI is employed to analyze existing information for a specific condition, generating a preliminary list of key issues and needs.</li>
              <li>Patient organizations nominate a representative to register to the Collaborare website.</li>
              <li>This representative by collecting consensus in the organisation reviews, prioritizes, and completes the list of items.</li>
              <li>The validated list is structured into an accessible format and published as open data, driving towards a deeper understanding of patient needs and innovative solutions.</li>
              <li>After validation, the tool indicates the date and the organisation which has validated the list.</li>
            </ul>
            <p>For detailed step-by-step guidance, please review the How-to Guide.</p>
          </span>

          <h1 class="white mt-5 card-title text-bold-500">
            Why your participation is key?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>Your participation as representative of patient organizations is crucial. By collecting input and getting consensus from your community, you ensure that the data collected truly reflects the needs and outcomes important to patients. This collective effort is essential for fostering improvements in care, and quality of outcomes for people living with rare diseases.</p>
          </span>

          <h1 class="white mt-5 card-title text-bold-500">
            What do you think about Collaborare?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>We value your feedback on Collaborare's tool and process. Your input is vital for refining our approach and ensuring that the tool meets the needs of those it's designed to serve. Please share your thoughts and suggestions with us. Here's how you can provide your input using Hotjar:</p>
            <ul>
              <li>Look for the Hotjar 'Feedback' tab on the right side of your screen.</li>
              <li>Click on the tab to open the feedback form.</li>
              <li>Fill in the form with your feedback—whether it's suggestions, observations, or your overall experience using Collaborare.</li>
              <li>Once you've completed the form, click the 'Submit' button to send your thoughts to our team.</li>
              <li>Your feedback will be used to enhance the Collaborare experience for all users.</li>
            </ul>
          </span>
        </div>
      </div>
    </div>
</div>
</section>


<section class="" style="padding-bottom: 70px !important;padding-top: 70px !important;background-color: #fff;">
  <div class="col-12 d-flex justify-content-center">
    <div class="card-body" style="max-width: 1200px;">
      <div class="row m-0">
        <div class="offset-md-2 col-md-8 justify-content-center align-items-center text-center" style="padding-top: 1.5rem;padding-right: 1.5rem;padding-left: 1.5rem;">
          <h1 class="card-title text-bold-500">
            Contact
            <hr class="hr-custom">
          </h1>
          <p>For any inquiries or support, please contact us</p>
          <p>Your involvement and feedback are instrumental in shaping a future where patient care is deeply informed by the experiences and needs of those it aims to serve. Please join us in this vital initiative to make a significant impact on rare diseases’ treatments and patient care!</p>
        </div>
        <div class="col-lg-12 col-md-12 py-2">
          <div class="offset-md-3 col-md-6">
            <div class="center-elements">
              <form class="form" (ngSubmit)="sendMsg()" #f="ngForm">
                <div class="form-body">
                  <div class="">
                    <div class="">
                      <div class="form-group">
                        <input type="text" class="form-control" name="userName" id="userName"
                          placeholder="Name" ngModel required #userName="ngModel">
                        <small class="form-text text-muted danger"
                          *ngIf="!userName.valid && (userName.dirty || userName.touched)">{{'generics.required' | translate
                          }}</small>
                      </div>
                    </div>
                    <div class="">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email"
                          placeholder="{{'generics.Email' | translate }}" ngModel required email #email="ngModel">
                        <small class="form-text text-muted danger"
                          *ngIf="!email.valid && (email.dirty || email.touched)">{{'generics.entervalidemail' | translate
                          }}</small>
                      </div>
                    </div>
                    <div class="">
                      <div class="form-group">
                        <textarea name="description" id="textarea1"
                          placeholder="{{'support.Message' | translate }}" class="form-control" ngModel
                          required #description="ngModel"></textarea>
                        <small class="form-text text-muted danger"
                          *ngIf="!description.valid && (description.dirty || description.touched)">{{'generics.required' |
                          translate }}</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!sending" class="center-elements">
                  <div *ngIf="f.valid;then formValid else formError"></div>
                  <ng-template #formValid><button class="btn btn-dark" type="submit"> {{'support.Send' |
                      translate }}</button></ng-template>
                  <ng-template #formError><button class="btn btn-dark" type="button"
                      (click)="submitInvalidForm()"> {{'support.Send' | translate }}</button></ng-template>
                </div>
                <div class="form-actions" *ngIf="sending" class="center-elements">
                  <span><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
