<div class="col-md-12 pt-3 pb-3 color-footer">
  <div class="col-md-12 mt-2">
    <div class="row">
      <div class="col-md-4 center-elements">
        <nav>
          <a href="https://www.foundation29.org" target="_blank" (click)="lauchEvent('web Foundation 29');">
            <img class="" src='assets/img/logo-foundation-twentynine-footer.webp' alt="logo Foundation 29" style="width: 150px;"/></a>
        </nav>
      </div>
      <div class="col-md-4 center-elements">
        <div class="card-block center-elements">
          <div class="mt-2">
            <!--<a href="https://www.instagram.com/foundation29thfeb/" target="_blank" (click)="lauchEvent('instagram Foundation 29');" type="button"
              class="btn btn-primary btn-icon round mr-1 mb-1">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/foundation29thfeb/" target="_blank" (click)="lauchEvent('facebook Foundation 29');" type="button"
              class="btn btn-primary btn-icon round mr-1 mb-1">
              <i class="fab fa-facebook"></i>
            </a>-->
            <a href="https://twitter.com/foundation29feb" target="_blank" (click)="lauchEvent('twitter Foundation 29');" type="button"
              class="btn btn-primary btn-icon round mr-1 mb-1">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/foundation29/" target="_blank" (click)="lauchEvent('linkedin Foundation 29');" type="button"
              class="btn btn-primary btn-icon round mr-1 mb-1">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
</div>