.showmenu{
    margin-left: 275px;
  }

  /*.main-panel {
    margin-top: 0px !important;
  }*/
  
  .main-content{
    padding-bottom: 65px !important;
    padding-left: 0px !important;
    //margin-left: 0px !important;
  }
  
  @media (min-width: 1200px) {
    .main-content{
      padding-left: 70px !important;
      padding-right: 20px;
    }
  }

  @media ( max-width: 991px ){
    .showmenu{
      margin-left: 0px;
    }
  }
  